.catalog {
    padding: 30px 9.3% 30px;
}

.catalog__list {
    @include resetList;
}

@media (min-width: $tablet-width) {
    .catalog {
        padding: 69px 50px 0;
    }
}

@media (min-width: $desktop-width) {
    .catalog {
        max-width: $desktop-width;
        margin: 0 auto;
        padding: 110px 50px 0;
    }

    .catalog__list {
        display: flex;
        flex-wrap: wrap;
    }
}
