.copyright__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover .copyright__icon {
        fill: #46c1ae;
    }

    &:active {
        opacity: 0.3;
    }
}

.copyright__icon {
    fill: #63d1bb;
}

.copyright__text {
    font-size: 19px;
    font-weight: bold;
    margin-right: 30px;
    color: #000000;
}
