.fieldset {
    padding: 0;
}

.fieldset__legend {
    font-size: 17px;
    color: #63d1bb;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0;

    &::after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #62d1ba;
        margin-left: 25px;
    }
}

.fieldset__input-wrapper--radio {
    margin: 27px 0 30px;
}

.fieldset__input-wrapper--checkbox {
    margin: 20px 0 29px;
}

.fieldset__checkbox {
    margin: 21px 0;
}

.fieldset__input-wrapper--controls {
    margin: 20px 0 27px;
}

.fieldset__control {
    margin: 19px 0;

    &--tel,
    &--email {
        margin: 2px 0 30px;
    }

    &--textarea {
        margin: 22px 0 10px;
    }
}

@media (min-width: $tablet-width) {
    .fieldset {
        display: flex;
        align-items: flex-start;
        padding: 50px 0;

        &--tel {
            padding-bottom: 0;
        }

        &--email {
            padding-top: 25px;
        }
    }

    .fieldset__legend {
        width: 165px;
        flex-shrink: 0;
        line-height: 50px;

        &::after {
            display: none;
        }
    }

    .fieldset__input-wrapper {
        margin: 0;
        flex-grow: 1;
    }

    .fieldset__input-wrapper--checkbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 505px;
    }

    .fieldset__checkbox {
        width: 240px;
        margin: 0 0 22px 0;

        &:nth-child(5),
        &:nth-child(6) {
            margin-bottom: 0;
        }
    }

    .fieldset__radio {
        margin: 0;

        & + & {
            margin: 25px 0 0;
        }
    }

    .fieldset__control {
        display: flex;
        align-items: baseline;
        margin: 0;

        & + & {
            margin: 24px 0 0;
        }
    }
}

@media (min-width: $desktop-width) {
    .fieldset {
        padding: 49px 0;

        &--tel {
            padding-bottom: 0;
        }

        &--email {
            padding-top: 25px;
        }
    }

    .fieldset__legend {
        width: 175px;
        padding-left: 60px;
    }

    .fieldset__input-wrapper {
        max-width: 700px;

        &--checkbox {
            max-width: 825px;
            justify-content: flex-start;
        }
    }

    .fieldset__checkbox {
        width: 262px;

        &:nth-child(4) {
            margin-bottom: 0;
        }
    }

    .fieldset__control {
        & + & {
            margin: 26px 0 0;
        }
    }
}
