.order-form {
    padding: 22px 9.3% 55px;
}

.order-form__intro {
    font-size: 13px;
    color: #444444;
    line-height: 24px;
    margin: 0 0 20px;
}

.order-form__note {
    font-size: 14px;
    color: #444444;
    display: block;
    margin: 0 0 30px;
}

@media (min-width: $tablet-width) {
    .order-form {
        padding: 66px 0 53px;
    }

    .order-form__center-wrapper {
        padding: 0 50px;

        &:nth-child(3),
        &:nth-child(5) {
            background-color: #f1f1f1;
        }
    }

    .order-form__intro {
        font-size: 17px;
        line-height: 28px;
        margin-bottom: 8px;
    }

    .order-form__note {
        font-size: 17px;
        margin-bottom: 0;
    }

    .order-form__footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: $desktop-width) {
    .order-form {
        padding: 105px 0 53px;
    }

    .order-form__center-wrapper {
        padding: 0 calc((100% - #{$desktop-width} + 100px) / 2);
    }

    .order-form__intro,
    .order-form__footer {
        width: 700px;
        margin-left: 175px;
    }

    .order-form__intro {
        margin-bottom: 10px;
    }

    .order-form__footer {
        margin-top: -5px;
    }
}
