.page-footer {
    background-color: #f1f1f1;
}

.footer__wrapper {
    margin: 0 auto;
    padding: 23px 30px;
}

.page-footer__copyright {
    margin-top: 21px;
    text-align: center;
}

.page-footer__logo-link {
    display: none;

    &[href]:hover .page-footer__logo {
        fill: #46c1ae;
    }

    &[href]:active {
        opacity: 0.3;
    }
}

@media (min-width: $tablet-width) {
    .footer__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 46px 50px 50px;
    }

    .page-footer__copyright {
        margin: 0 3px 0 0;
    }

    .page-footer__logo-link {
        display: inline-block;
    }

    .page-footer__logo-wrapper {
        width: 175px;
    }
}

@media (min-width: $desktop-width) {
    .footer__wrapper {
        max-width: $desktop-width;
        margin: 0 auto;
    }
}
