.page-main__header {
    background: #f9f9f9;
}

.page-main__header-wrapper {
    background: #f9f9f9 url("/img/hero-mobile@1x.jpg") no-repeat top center;
    background-size: auto 355px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/hero-mobile@2x.jpg");
        background-size: auto 355px;
    }
}

.page-main__title {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    margin: 0;
    padding: 70px 9.3% 40px;
    min-height: 285px;
}

@media (min-width: $tablet-width) {
    .page-main {
        position: relative;
        z-index: 1;
    }

    .page-main__header-wrapper {
        background-image: url("/img/hero-tablet@1x.jpg");
        background-size: cover;
        border-top: 1px solid #e7e7e7;

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background-image: url("/img/hero-tablet@2x.jpg");
            background-size: cover;
        }
    }

    .page-main__title {
        font-size: 43px;
        line-height: 48px;
        padding: 155px 50px 100px;
        min-height: 625px;
    }
}

@media (min-width: $desktop-width) {
    .page-main__header-wrapper {
        max-width: $desktop-width;
        margin: 0 auto;
        background-image: url("/img/hero-desktop@1x.jpg");

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background-image: url("/img/hero-desktop@2x.jpg");
        }
    }

    .page-main__title {
        font-size: 53px;
        line-height: 55px;
    }
}
