.promo {
    padding: 0 9.3% 55px;
}

.promo__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 334px;
    margin: 0 auto;
}

.promo__title {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ececec;
    padding: 25px 33px;
    height: 98px;
    width: 100%;

    &::before {
        content: "";
        display: inline-block;
        margin-right: 25px;
        flex-shrink: 0;

        @include setSize(32px, 32px);

        background: url("/img/icon-video.svg") no-repeat center center;
        background-size: 32px 32px;
    }
}

.promo__info {
    border: 1px solid #ececec;
    border-top: none;
    padding: 26px 33px 34px;
}

.promo__video {
    margin-top: 98px;

    &:hover + .promo__info {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    }

    &:active + .promo__info {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    }
}

.promo__description {
    font-size: 13px;
    margin: 0;
    color: #444444;
    line-height: 24px;
    margin-bottom: 25px;
    padding-right: 7px;
}

@media (min-width: $tablet-width) {
    .promo {
        padding: 53px 50px 65px;
    }

    .promo__wrapper {
        max-width: 668px;
    }

    .promo__title {
        position: relative;
        font-size: 20px;
        margin-bottom: 30px;
        border: none;
        padding: 0;
        height: auto;

        &::before {
            margin-right: 35px;
        }
    }

    .promo__info {
        border: 1px solid #ececec;
        padding: 33px 40px 45px;
    }

    .promo__description {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 35px;
        padding-right: 0;
    }

    .promo__video {
        margin-top: 0;
    }

    .promo__order {
        width: 100%;
    }
}

@media (min-width: $desktop-width) {
    .promo {
        max-width: $desktop-width;
        padding: 0 50px 107px;
        margin: 0 auto;
    }

    .promo__wrapper {
        max-width: none;
        flex-direction: row;
    }

    .promo__info {
        border-left: none;
        padding: 40px 57px 45px 80px;
    }

    .promo__video {
        width: 681px;
        height: 455px;
        flex-shrink: 0;
    }

    .promo__title {
        flex-direction: column;
        align-items: flex-start;
        max-width: 150px;
        margin-bottom: 30px;

        &::before {
            margin-bottom: 20px;
        }
    }

    .promo__description {
        margin-bottom: 47px;
    }
}
