.site-list {
    @include resetList;
}

.site-list__item {
    display: flex;
    height: 79px;
    border-bottom: 1px solid #ececec;

    &--free-del,
    &--new,
    &--sale {
        display: none;
    }

    &--logo {
        justify-content: center;
        align-items: center;
    }
}

.site-list__link {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    padding: 0 9.3% 0 22.8%;

    &--logo {
        padding: 0;
        flex-grow: 0;

        &:hover {
            opacity: 0.6;
        }
    }

    &:hover {
        color: rgba(0, 0, 0, 0.6);
    }

    &:active {
        opacity: 0.3;
    }

    svg {
        opacity: 0.2;
        position: absolute;
        left: 9.3%;
    }

    &:hover svg {
        opacity: 1;

        path {
            fill: #63d1bb;
        }
    }
}

@media (max-width: $mobile-only-width) {
    .site-list__item {
        &--open {
            display: flex;
        }

        &--closed {
            display: none;
        }
    }
}

@media (min-width: $tablet-width) {
    .site-list {
        display: flex;
        flex-wrap: wrap;
    }

    .site-list__link {
        padding: 0;

        svg {
            position: static;
            margin: 0 32px;
        }
    }

    .site-list__logo-image {
        width: 112px;
        height: auto;
        margin-left: 50px;
    }

    .site-list__item {
        border: none;
        height: 90px;

        &--search,
        &--cart {
            order: -1;
        }

        &--logo {
            order: -2;
            width: calc(100% - 400px);
            justify-content: flex-start;
        }

        &--search {
            margin-left: auto;

            .site-list__link {
                font-size: 0;
                border-right: 1px solid #ececec;
                border-left: 1px solid #ececec;
            }
        }

        &--catalog,
        &--free-del,
        &--order {
            height: 58px;

            .site-list__link {
                font-size: 15px;
            }
        }

        &--free-del {
            display: flex;
            margin-right: 50px;
            margin-left: auto;
            pointer-events: none;

            .site-list__link {
                font-weight: normal;
            }
        }

        &--catalog {
            margin-right: 35px;
            margin-left: 50px;
        }

        &--cart {
            .site-list__link {
                padding-right: 50px;
            }
        }
    }
}

@media (min-width: $desktop-width) {
    .site-list__item {
        &--order,
        &--catalog {
            order: -3;
            height: 90px;
            margin-right: 0;

            .site-list__link {
                font-size: 17px;
                padding-right: 34px;
            }
        }

        &--order {
            .site-list__link {
                padding-left: 34px;
            }
        }

        &--catalog {
            border-right: 1px solid #ececec;
            margin-left: 0;

            .site-list__link {
                padding-left: 50px;
            }
        }

        &--new,
        &--sale {
            display: flex;
            margin-right: 60px;
            height: 58px;

            .site-list__link {
                font-size: 15px;
            }
        }

        &--new {
            margin-left: 50px;
        }

        &--logo {
            width: auto;
            margin: 0 auto;
        }

        &--free-del {
            height: 58px;
        }
    }

    .site-list__logo-image {
        width: 148px;
        margin-left: 0;
    }
}
