.site-list {
    @include resetList;
}

.site-list__item {
    display: flex;
    height: 79px;
    border-bottom: 1px solid #ececec;

    &--free-del,
    &--new,
    &--sale {
        display: none;
    }

    &--logo {
        justify-content: center;
        align-items: center;
    }

    &--search {
        .site-list__link::before {
            content: url("/img/icon-search.svg");
        }
    }

    &--cart {
        .site-list__link::before {
            content: url("/img/icon-cart.svg");
        }
    }
}

.site-list__link {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 9.3%;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;

    &::before {
        content: "";
        margin-right: 9.3%;

        @include setSize(20px, 20px);
    }

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.3;
    }

    &--logo {
        flex-grow: 0;
        padding: 0;

        &::before {
            display: none;
        }
    }
}

@media (max-width: $mobile-only-width) {
    .site-list__item {
        &--open {
            display: flex;
        }

        &--closed {
            display: none;
        }
    }
}

@media (min-width: $tablet-width) {
    .site-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0 50px;
    }

    .site-list__link {
        padding: 0;

        &::before {
            display: none;
        }
    }

    .site-list__item {
        border: none;
        height: 90px;

        &--search,
        &--cart {
            order: -1;

            .site-list__link::before {
                display: flex;
                margin-right: 0;
                padding: 0 32px;
            }
        }

        &--logo {
            order: -2;
            width: calc(100% - 355px);
            justify-content: flex-start;
        }

        &--search {
            margin-left: auto;
            border-right: 1px solid #ececec;
            border-left: 1px solid #ececec;

            .site-list__link {
                font-size: 0;
            }
        }

        &--catalog,
        &--free-del,
        &--order {
            height: 60px;

            .site-list__link {
                font-size: 15px;
            }
        }

        &--free-del {
            display: flex;
            margin-left: auto;
            pointer-events: none;

            .site-list__link {
                font-weight: normal;
            }
        }

        &--catalog {
            margin-right: 35px;
        }
    }
}

@media (min-width: $desktop-width) {
    .site-list__item {
        &--order,
        &--catalog {
            order: -3;
            margin-right: 34px;
            height: 90px;

            .site-list__link {
                font-size: 17px;
                padding-right: 34px;
            }
        }

        &--catalog {
            border-right: 1px solid #ececec;
        }

        &--new,
        &--sale {
            display: flex;
            margin-right: 60px;
            height: 60px;

            .site-list__link {
                font-size: 15px;
            }
        }

        &--logo {
            width: auto;
            margin: 0 auto;
        }

        &--free-del {
            height: 60px;
        }
    }
}
