.size {
    @include resetList;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.size__item {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444444;
    flex-grow: 1;
    text-align: center;
    border: 2px solid #ececec;
    line-height: 45px;
    cursor: pointer;

    & + & {
        margin-left: 10px;
    }
}

.size__item--active {
    border-color: #63d1bb;
}
