.socials__list {
    @include resetList;

    padding: 5px 0 25px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__item {
    display: inline-block;

    & + & {
        margin-left: 40px;
    }
}

@media (min-width: $tablet-width) {
    .socials__list {
        border: none;
        padding: 0;
    }
}
