.video {
    position: relative;
    text-align: center;
}

.video__file {
    width: 100%;
    min-height: 145px;
}

.video__poster {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background: url("/img/video-mobile@1x.jpg") no-repeat center center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("/img/video-mobile@2x.jpg");
    }
}

.video__play {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: auto;
    cursor: pointer;

    &::before {
        content: "";
        width: 101px;
        height: 77px;
        display: inline-block;
        background: url("data:image/svg+xml,%3Csvg width='100.68px' height='76.891px' enable-background='new 247.3 382.56 100.678 76.891' version='1.1' viewBox='247.3 382.56 100.678 76.891' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m344.26 400.71s-0.92-7.008-3.785-10.078c-3.632-4.041-7.674-4.066-9.541-4.297-13.326-1.023-33.303-1.023-33.303-1.023h-0.051s-19.978 0-33.304 1.023c-1.867 0.23-5.908 0.256-9.54 4.297-2.84 3.096-3.786 10.078-3.786 10.078s-0.896 8.211-0.896 16.422v7.699c0 8.21 0.947 16.421 0.947 16.421s0.921 7.009 3.785 10.078c3.632 4.041 8.364 3.913 10.487 4.349 7.622 0.767 32.356 1.022 32.356 1.022s20.003-0.025 33.329-1.048c1.867-0.23 5.908-0.256 9.54-4.298 2.84-3.069 3.786-10.078 3.786-10.078s0.946-8.21 0.946-16.421v-7.699c-0.023-8.236-0.97-16.447-0.97-16.447z' fill='%2363D1BB'/%3E%3Cpath d='m297.61 459.45h-0.016c-1.015-0.011-24.946-0.266-32.604-1.037l-0.14-0.014-0.137-0.028c-0.271-0.056-0.668-0.107-1.126-0.167-2.503-0.328-7.159-0.938-10.839-5.019-3.354-3.616-4.377-10.771-4.483-11.576l-5e-3 -0.043c-0.039-0.342-0.965-8.463-0.965-16.736v-7.699c0-8.266 0.875-16.378 0.912-16.72l9e-3 -0.071c0.108-0.802 1.155-7.928 4.474-11.557 3.996-4.439 8.531-4.899 10.712-5.121 0.192-0.02 0.37-0.037 0.529-0.058l0.126-0.013c13.277-1.019 33.312-1.031 33.514-1.031h0.051c0.201 0 20.236 0.013 33.514 1.031l0.126 0.013c0.159 0.021 0.337 0.038 0.529 0.058 2.179 0.221 6.71 0.682 10.704 5.112 3.354 3.616 4.377 10.771 4.483 11.577l5e-3 0.043c0.039 0.342 0.965 8.459 0.99 16.753v7.708c0 8.273-0.926 16.395-0.965 16.736l-7e-3 0.053c-0.108 0.805-1.156 7.953-4.478 11.562-3.994 4.435-8.527 4.896-10.707 5.117-0.193 0.02-0.371 0.037-0.53 0.057l-0.126 0.013c-13.276 1.02-33.334 1.057-33.535 1.058l-0.015-1e-3zm-31.944-6.497c7.477 0.729 31.216 0.989 31.968 0.997 0.657-1e-3 20.135-0.049 33.047-1.036 0.178-0.021 0.371-0.041 0.58-0.062 1.836-0.186 4.608-0.468 7.186-3.335l0.026-0.029c1.825-1.974 2.853-6.928 3.075-8.552 0.059-0.514 0.926-8.358 0.926-16.08v-7.699c-0.023-7.76-0.896-15.627-0.951-16.109-0.32-2.382-1.434-6.789-3.066-8.539l-0.035-0.038c-2.577-2.868-5.351-3.149-7.186-3.336-0.209-0.021-0.402-0.041-0.58-0.062-13.066-0.998-32.834-1.011-33.033-1.011h-0.051c-0.198 0-19.967 0.013-33.033 1.011-0.177 0.021-0.371 0.041-0.58 0.062-1.835 0.187-4.607 0.468-7.186 3.336l-0.019 0.021c-1.828 1.993-2.855 6.924-3.082 8.552-0.062 0.591-0.875 8.399-0.875 16.089v7.699c0 7.749 0.871 15.598 0.926 16.083 0.32 2.381 1.433 6.789 3.066 8.539l0.035 0.039c2.322 2.584 5.303 2.975 7.479 3.259 0.481 0.061 0.939 0.121 1.363 0.201z' fill='%23fff'/%3E%3Cpolygon points='285.73 403.14 285.73 438.85 315.48 420.99' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
        background-size: cover;
    }

    &:hover::before {
        transform: scale(1.2);
    }

    &:active::before {
        transform: scale(0.8);
        opacity: 0.3;
    }
}

@media (min-width: $tablet-width) {
    .video__file {
        min-height: 450px;
    }

    .video__poster {
        background-image: url("/img/video-tablet@1x.jpg");

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background-image: url("/img/video-tablet@2x.jpg");
        }
    }
}

@media (min-width: $desktop-width) {
    .video__poster {
        background-image: url("/img/video-desktop@1x.jpg");

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background-image: url("/img/video-desktop@2x.jpg");
        }
    }
}
