.video {
    position: relative;
    text-align: center;
}

.video__file {
    width: 100%;
    min-height: 145px;
}

.video__poster {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: url("/img/video-mobile@1x.jpg") no-repeat center center;
    background-size: cover;

    &--show {
        display: flex;
    }
}

.video__play {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: auto;

    &::before {
        content: "";
        width: 101px;
        height: 77px;
        cursor: pointer;
        display: inline-block;
        background: url("/img/icon-play.svg") no-repeat center center;
        background-size: cover;
    }

    &:hover::before {
        transform: scale(1.2);
    }

    &:active::before {
        transform: scale(0.8);
        opacity: 0.3;
    }
}

@media (min-width: $tablet-width) {
    .video__file {
        min-height: 450px;
    }

    .video__poster {
        background: url("/img/video-tablet@1x.jpg") no-repeat center center;
    }
}

@media (min-width: $desktop-width) {
    .video__poster {
        background: url("/img/video-desktop@1x.jpg") no-repeat center center;
    }
}
