.advantages {
    border: 1px solid black;
    padding: 30px;
}

.advantages__title {
    font-size: 25px;
    font-family: "Opens Sans Bold";
    border: 1px solid black;
    margin: 0;
}

.advantages__list {
    margin: 0;
    padding: 0;
}

.advantages__item {
    list-style-type: none;
    font-size: 17px;
    font-family: "Opens Sans Bold";
    margin-top: 30px;
}

.advantages__item--eco:before {
    content: url("/img/icon-feature-flower.svg");
    display: block;
    width: 32px;
    height: 37px;
    margin-bottom: 20px;
}

.advantages__item--style:before {
    content: url("/img/icon-feature-money.svg");
    display: block;
    width: 47px;
    height: 27px;
    margin-bottom: 28px;
}

.advantages__item--like:before {
    content: url("/img/icon-feature-heart.svg");
    display: block;
    width: 34px;
    height: 27px;
    margin-bottom: 23px;
}

.advantages__item--hand-made:before {
    content: url("/img/icon-feature-ball.svg");
    display: block;
    width: 35px;
    height: 34px;
    margin-bottom: 20px;
}

.advantages__item--support:before {
    content: url("/img/icon-feature-rocket.svg");
    display: block;
    width: 55px;
    height: 23px;
    margin-bottom: 30px;
}

.advantages__item--gift:before {
    content: url("/img/icon-feature-gift.svg");
    display: block;
    width: 33px;
    height: 32px;
    margin-bottom: 23px;
}
