.advantages {
    padding: 25px 9.3%;
}

.advantages__title {
    font-size: 25px;
    margin: 0;
}

.advantages__list {
    @include resetList;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.advantages__item {
    font-size: 17px;
    font-weight: bold;
    margin-top: 33px;
    line-height: 20px;
    width: 50%;
    min-width: 260px;
    max-width: 350px;
}

.advantages__item::before {
    content: "";
    display: block;
    text-align: center;

    @include setSize(50px, 50px);
}

.advantages__item--eco::before {
    content: url("/img/icon-feature-flower.svg");
}

.advantages__item--style::before {
    content: url("/img/icon-feature-money.svg");
}

.advantages__item--like::before {
    content: url("/img/icon-feature-heart.svg");
}

.advantages__item--hand-made::before {
    content: url("/img/icon-feature-ball.svg");
}

.advantages__item--support::before {
    content: url("/img/icon-feature-rocket.svg");
}

.advantages__item--gift::before {
    content: url("/img/icon-feature-gift.svg");
}

@media (min-width: $tablet-width) {
    .advantages {
        padding: 43px 50px 20px;
    }

    .advantages__title {
        font-size: 43px;
        margin-bottom: 43px;
    }

    .advantages__item {
        font-size: 20px;
        margin: 0 0 62px;
        line-height: 22px;
        order: 2;

        &--eco {
            order: 0;
        }

        &--hand-made {
            order: 1;
        }

        &--like {
            order: 5;
        }

        &--gift {
            order: 6;
        }
    }
}

@media (min-width: $desktop-width) {
    .advantages {
        width: $desktop-width;
        margin: 0 auto;
        padding: 50px 225px 30px;
    }

    .advantages__title {
        font-size: 53px;
    }
}
