.button {
    font-family: $fontBold;

    @include setBorder;

    font-size: 17px;
    text-transform: uppercase;
    color: #444444;
    cursor: pointer;
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    padding: 12px 20px;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
