.button {
    font-family: $fontBold;
    border: 2px solid #444444;
    font-size: 17px;
    text-transform: uppercase;
    color: #444444;
    cursor: pointer;
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    padding: 12px 15px;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

@media (min-width: $tablet-width) {
    .button {
        width: auto;
        padding: 12px 38px;
    }
}
