.button {
    font-size: 17px;
    font-family: "Open Sans Bold", sans-serif;
    text-transform: uppercase;
    color: #444444;
    cursor: pointer;
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    border: 2px solid #444444;
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
