.catalog {
    border: 1px solid black;
    padding: 30px;

    @include setContentMaxWidth;
}

.catalog__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width: $tablet-width) {
    .catalog {
        padding: 80px 50px;
    }
}

@media (min-width: $desktop-width) {
    .catalog__list {
        display: flex;
    }

    .catalog {
        padding: 100px 50px;
    }
}
