.catalog-nav__list {
    @include resetList;
}

.catalog-nav__item {
    a {
        display: block;
        font-size: 19px;
        font-weight: bold;
        line-height: 24px;
        color: #ffffff;
        text-decoration: none;
        padding: 27px 9.3%;
    }
}

.catalog-nav__item--accs {
    background-color: #63d1bb;
    background-image: url("/img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: right 11.6% center;
}

.catalog-nav__item--toy {
    background-image: url("/img/icon-toy.svg");
    background-color: #56c3b2;
    background-repeat: no-repeat;
    background-position: right 10% center;
}

@media (min-width: $tablet-width) {
    .catalog-nav__list {
        display: flex;
        padding: 0 50px;
    }

    .catalog-nav__item {
        width: 50%;

        a {
            line-height: 28px;
            padding: 30px 35px;
        }
    }

    .catalog-nav__item--toy,
    .catalog-nav__item--accs {
        background-position: calc(100% - 33px) center;
    }
}

@media (min-width: $desktop-width) {
    .catalog-nav {
        width: $desktop-width;
        margin: 0 auto;
    }
}
