.contacts {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 38px 30px;
    width: $mobile-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contacts__title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contacts__list {
    color: #444444;
    margin-bottom: 30px;
}

.contacts__field,
.contacts__value {
    vertical-align: top;
    padding: 8px 12px;
    line-height: 30px;
    font-size: 15px;
}

.contacts__field {
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
}

.contacts__value {
    padding-right: 0;
}

.contacts__value--email {
    a {
        color: #444444;
        text-decoration: none;
        border-bottom: 1px solid #62d1ba;
    }
}

.contacts__map {
    margin: 0 -30px 30px;
}

@media (min-width: $tablet-width) {
    .contacts {
        width: $tablet-width;
        padding: 40px 50px 50px;
    }

    .contacts__title {
        font-size: 43px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        &::after {
            content: url("/img/icon-flag.svg");
            display: inline-block;
            width: 47px;
            height: 82px;
        }
    }

    .contacts__list {
        width: 100%;

        tbody {
            display: flex;
        }
    }

    .contacts__contact {
        width: 50%;
    }

    .contacts__map {
        margin: 0 -50px 50px;
    }

    .contacts__write {
        margin: auto;
    }
}

@media (min-width: $desktop-width) {
    .contacts {
        width: $desktop-width;
        padding: 90px 50px 161px 115px;
    }

    .contacts__list {
        margin-left: 112px;

        tbody {
            flex-direction: column;
        }
    }

    .contacts__write {
        margin: auto 0 0 112px;
        align-self: flex-start;
    }

    .contacts__title {
        flex-direction: row-reverse;
        justify-content: flex-end;
        font-size: 53px;

        &::after {
            margin-right: 60px;
        }
    }

    .contacts__map {
        order: -1;
        position: absolute;
        right: 50px;
        margin: 0;
        width: 525px;
    }
}
