.copyright__text {
    font-size: 19px;

    @include setFontBold;

    margin-right: 30px;
}

.copyright__link {
    font-size: 0;
    display: inline-block;
}

.copyright__link::before {
    content: url("/img/logo-htmlacademy.svg");
    display: inline-block;

    @include setSize(27px, 34px);
}
