.featured-item {
    position: relative;
    box-sizing: border-box;
    padding: 9.3% 9.3% 14%;
}

.featured-item__title {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.featured-item__lable {
    font-size: 17px;
    text-transform: uppercase;
    color: #63d1bb;
    font-weight: bold;
}

.featured-item__info-wrapper {
    display: flex;
    flex-direction: column;
}

.featured-item__description {
    margin: 20px 0;
    line-height: 25px;
    font-size: 15px;
    color: #444444;
}

.featured-item__img {
    align-self: center;
    margin-bottom: 20px;
}

.featured-item__price {
    font-size: 17px;
    font-weight: bold;
    color: #444444;
    align-self: center;
    margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
    .featured-item {
        padding: 40px 50px 70px;
    }

    .featured-item__info-wrapper {
        position: relative;
        margin: 0 auto;
        width: 668px;
        padding-right: 385px;
        box-sizing: border-box;
        min-height: 400px;
    }

    .featured-item__title {
        font-size: 43px;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 48px;
    }

    .featured-item__img {
        position: absolute;
        top: 0;
        right: 0;
        width: 335px;
        height: 400px;
    }

    .featured-item__lable {
        width: 132px;
        text-align: center;
    }

    .featured-item__description {
        font-size: 17px;
        margin: 0 0 37px;
        line-height: 29px;
    }

    .featured-item__price {
        margin-top: auto;
        font-size: 20px;
        margin-bottom: 30px;
    }
}

@media (min-width: $desktop-width) {
    .featured-item {
        width: $desktop-width;
        margin: 0 auto;
        padding: 70px 50px 95px;
    }

    .featured-item__title {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        font-size: 53px;
        position: absolute;
        top: 115px;
        width: auto;
        z-index: 1;
    }

    .featured-item__img {
        width: 525px;
        height: 640px;
        top: 70px;
    }

    .featured-item__lable {
        margin: 0 18px;
        line-height: 19px;
    }

    .featured-item__wrapper {
        margin: 160px 60px 0 175px;
        height: 480px;
    }

    .featured-item__description {
        margin-bottom: 55px;
    }
}
