.featured-item {
    width: $mobile-width;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 28px 30px 45px;
    position: relative;
}

.featured-item__title {
    font-size: 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid black;
}

.featured-item__lable {
    font-size: 17px;
    text-transform: uppercase;
    color: #63d1bb;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid black;
}

.featured-item__description {
    margin: 20px 0;
    line-height: 25px;
    font-size: 15px;
    color: #444444;
    box-sizing: border-box;
    border: 1px solid black;
}

.featured-item__img {
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid black;
}

.featured-item__price {
    font-size: 17px;
    font-weight: bold;
    color: #444444;
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
    .featured-item {
        width: $tablet-width;
        padding: 40px 50px 70px;
    }

    .featured-item__wrapper {
        width: 290px;
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    .featured-item__title {
        font-size: 43px;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 48px;
    }

    .featured-item__img {
        position: absolute;
        order: -1;
        right: 50px;
        width: 335px;
        height: 400px;
    }

    .featured-item__lable {
        width: 132px;
        text-align: center;
    }

    .featured-item__description {
        font-size: 17px;
        margin: 0 0 37px;
        line-height: 29px;
        width: 290px;
    }

    .featured-item__price {
        margin-top: auto;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .featured-item__order {
        width: 100%;
    }
}

@media (min-width: $desktop-width) {
    .featured-item {
        width: $desktop-width;
        padding: 70px 50px 95px;
    }

    .featured-item__title {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        font-size: 53px;
        position: absolute;
        top: 115px;
        width: auto;
        z-index: 1;
    }

    .featured-item__img {
        width: 525px;
        height: 640px;
        top: 70px;
    }

    .featured-item__lable {
        margin: 0 18px;
        line-height: 19px;
    }

    .featured-item__wrapper {
        margin: 160px 60px 0 175px;
        height: 480px;
    }

    .featured-item__description {
        margin-bottom: 55px;
    }
}
