.featured-item {
    border: 1px solid black;
    padding: 28px 30px 45px;
    position: relative;

    @include setContentMaxWidth;
}

.featured-item__title {
    font-size: 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: $fontBold;
}

.featured-item__lable {
    font-size: 17px;
    text-transform: uppercase;
    color: #63d1bb;
    font-family: $fontBold;
}

.featured-item__description {
    margin: 20px 0;
    line-height: 25px;
    font-size: 15px;
    color: #444444;
}

.featured-item__img {
    margin-bottom: 20px;
}

.featured-item__img--right {
    display: none;
}

.featured-item__price {
    font-size: 17px;
    font-family: $fontBold;
    color: #444444;
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
    .featured-item {
        padding: 40px 45px 70px;
    }

    .featured-item__item {
        display: flex;
        flex-wrap: wrap;
    }

    .featured-item__wrapper {
        width: calc(50% - 45px);
        margin-right: 45px;
        display: flex;
        flex-direction: column;
    }

    .featured-item__img {
        display: none;
    }

    .featured-item__img--right {
        display: flex;
        flex-shrink: 0;
        width: 50%;
        margin-bottom: 0;
    }

    .featured-item__title {
        font-size: 43px;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 48px;
    }

    .featured-item__lable {
        width: 132px;
        text-align: center;
    }

    .featured-item__description {
        font-size: 17px;
        margin: 0 0 37px;
        line-height: 29px;
    }

    .featured-item__price {
        margin-top: auto;
        font-size: 20px;
        margin-bottom: 30px;
    }
}

@media (min-width: $desktop-width) {
    .featured-item {
        padding: 70px 100px 95px;
    }

    .featured-item__title {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        font-size: 53px;
        position: absolute;
        top: 115px;
        width: auto;
    }

    .featured-item__img--big {
        height: 637px;
    }

    .featured-item__lable {
        margin: 0 18px;
        line-height: 19px;
    }

    .featured-item__wrapper {
        width: calc(50% - 60px - 175px);
        margin: 160px 60px 0 175px;
    }

    .featured-item__description {
        margin-bottom: 55px;
    }
}
