.main-nav {
    position: relative;
    margin: 0 auto;
    width: $mobile-width;
    border: 1px solid black;
    box-sizing: border-box;
}

.main-nav__toggle {
    font-size: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 32px;

    &::after {
        content: url("/img/icon-menu-open.svg");

        @include setSize(20px, 14px);

        display: inline-block;
    }
}

@media (min-width: $tablet-width) {
    .main-nav {
        width: $tablet-width;
        padding: 0 50px;
    }

    .main-nav__toggle::after {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .main-nav {
        width: $desktop-width;
    }
}
