.main-nav {
    position: relative;
}

.main-nav__toggle {
    font-size: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: $small-offset;
    top: 32px;

    &::after {
        content: url("/img/icon-menu-open.svg");
        display: inline-block;

        @include setSize(20px, 14px);
    }
}

@media (min-width: $tablet-width) {
    .main-nav__toggle::after {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .main-nav {
        width: #{$desktop-width - $large-offset * 2};
        margin: 0 auto;
    }
}
