.modal {
    border: 1px solid black;
    padding: 35px 30px 45px;
    width: 100%;
    max-width: 570px;
    position: absolute;
    background-color: #ffffff;
}

.modal__title {
    font-family: $fontBold;
    font-size: 25px;
    margin: 0 0 20px;
    text-transform: uppercase;
    text-align: center;
}

.modal__parametor-title {
    display: block;
    color: #444444;
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.modal__parametor-content {
    display: block;
    margin-bottom: 30px;
    text-align: center;
}
