.order-form {
    border: 1px solid black;
    box-sizing: border-box;
}

.order-form__intro {
    margin: 0;
    font-size: 13px;
    color: #444444;
    line-height: 25px;
    margin-bottom: 20px;
}

.order-form__note {
    font-size: 14px;
    display: block;
    color: #444444;
    margin-bottom: 30px;
}

.order-form__center-wrapper {
    border: 1px solid yellow;
    box-sizing: border-box;
    padding: 0 calc((100% - #{$mobile-width}) / 2);
}

@media (min-width: $tablet-width) {
    .order-form__center-wrapper {
        padding: 0 calc((100% - #{$tablet-width}) / 2);

        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(6) {
            background-color: #ececec;
        }
    }

    .order-form__note {
        margin-bottom: 0;
    }

    .order-form__footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: $desktop-width) {
    .order-form__center-wrapper {
        padding: 0 calc((100% - #{$desktop-width}) / 2);
    }
}
