.page-main {
    box-sizing: border-box;
    border: 1px solid black;
}

.page-main__title-wrapper {
    width: $mobile-width;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid black;
    height: 285px;
}

.page-main__title {
    font-weight: bold;
    font-size: 27px;
    margin: 80px auto 0;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    width: 260px;
    line-height: 30px;
}

@media (min-width: $tablet-width) {
    .page-main {
        margin: -65px auto 0;
    }

    .page-main__title-wrapper {
        width: $tablet-width;
        height: 750px;
    }

    .page-main__title {
        font-size: 43px;
        width: 550px;
        line-height: 48px;
        margin-top: 155px;
    }
}

@media (min-width: $desktop-width) {
    .page-main {
        border-top: 1px solid #ececec;
    }

    .page-main__title-wrapper {
        width: $desktop-width;
    }

    .page-main__title {
        font-size: 53px;
        line-height: 55px;
        width: 700px;
    }
}
