.page-header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.page-header__logo-link {
    display: flex;
    height: 79px;
    align-items: center;
    justify-content: center;
}

@media (min-width: $tablet-width) {
    .page-header {
        margin: 0 50px;
    }

    .page-header__logo-link {
        display: none;
    }
}
