.page-header {
    position: relative;
}

.page-header__logo-wrapper {
    height: 78px;
    text-align: center;
}

.page-header__logo-link {
    display: inline-block;
    margin: 19px 0;
}

@media (min-width: $tablet-width) {
    .page-header {
        margin: 0 auto;
        width: 670px;
    }

    .page-header__logo-wrapper {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .page-header {
        width: 1050px;
    }
}
