.page-main__title-wrapper {
    margin: 0 auto;
    padding: 16.6% 9.3% 32.8%;
    background: url("/img/hero-mobile@1x.jpg") no-repeat center center;
    background-size: cover;
}

.page-main__title {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}

@media (min-width: $tablet-width) {
    .page-main__title-wrapper {
        padding: 125px 50px;
        min-height: 625px;
        border-top: 1px solid #e7e7e7;
    }

    .page-main {
        margin: -60px auto 0;
    }

    .page-main__title {
        font-size: 43px;
        line-height: 48px;
    }
}

@media (min-width: $desktop-width) {
    .page-main__title-wrapper {
        width: $desktop-width;
        padding-top: 115px;
    }

    .page-main__title {
        font-size: 53px;
        line-height: 55px;
    }
}
