.page-footer {
    border: 1px solid black;
    padding: 23px 30px;
    background-color: #f1f1f1;
}

.page-footer__copyright {
    margin-top: 20px;
    text-align: center;
}

.page-footer__logo-link {
    display: none;
}

@media (min-width: $tablet-width) {
    .page-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 50px;
    }

    .page-footer__copyright {
        margin: 0;
    }

    .page-footer__logo-link {
        display: block;
    }

    .page-footer__logo-wrapper {
        width: 185px;
    }
}
