.promo {
    padding: 25px 30px;
    border: 1px solid black;
    box-sizing: border-box;
    width: $mobile-width;
    margin: 0 auto;
}

.promo__wrapper {
    border: 1px solid blue;
    box-sizing: border-box;
    position: relative;
}

.promo__title {
    margin: 0;
    font-size: 17px;
    font-family: $fontBold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.promo__title::before {
    content: url("/img/icon-video.svg");
    display: inline-block;
    margin-right: 20px;

    @include setSize(32px, 37px);
}

.promo__video {
    margin: 0 0 25px;
    border: 1px solid black;
    box-sizing: border-box;
    width: 260px;
    height: 155px;
}

.promo__description {
    font-size: 13px;
    margin: 0;
    color: #444444;
    line-height: 25px;
    margin-bottom: 50px;
}

@media (min-width: $tablet-width) {
    .promo {
        padding: 50px;
        width: $tablet-width;
    }

    .promo__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .promo__description {
        font-size: 15px;
    }

    .promo__video {
        order: -1;
        width: 100%;
        height: 460px;
    }

    .promo__order {
        width: 100%;
    }
}

@media (min-width: $desktop-width) {
    .promo {
        padding: 50px;
        width: $desktop-width;
    }

    .promo__video {
        margin: 0;
        width: 675px;
        height: 450px;
    }

    .promo__wrapper {
        justify-content: space-between;
    }

    .promo__title {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        right: 200px;
        width: 150px;
    }

    .promo__order {
        width: auto;
    }

    .promo__info-wrapper {
        width: 350px;
        margin-top: 120px;
    }
}
