.promo {
    border: 1px solid black;
    padding: 30px;
}

.promo__title {
    margin: 0;
    font-size: 17px;
    font-family: $fontBold;
    margin-bottom: 20px;
}

.promo__title::before {
    content: url("/img/icon-video.svg");
    display: inline-block;

    @include setSize(32px, 37px);
}

.promo__video {
    margin-bottom: 20px;
}

.promo__description {
    font-size: 13px;
    margin: 0;
    color: #444444;
    line-height: 25px;
    margin-bottom: 30px;
}
