.reviews__wrapper {
    padding: 25px 9.3% 55px;
    position: relative;
}

.reviews__title {
    margin: 0;
    margin-bottom: 21px;
}

.reviews__item {
    margin: 0;

    p {
        font-size: 15px;
        line-height: 30px;
        color: #444444;
        margin: 0 0 28px;
    }
}

.reviews__author-name {
    display: block;
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: bold;
    color: #444444;
}

.reviews__author-nickname {
    display: block;
    margin-bottom: 31px;
    font-size: 17px;
    font-style: normal;
    color: #444444;
}

.reviews__toggles {
    margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
    .reviews {
        padding-bottom: 50px;
    }

    .reviews__wrapper {
        background: url("/img/review@1x.jpg") no-repeat top left;
        background-size: calc(50% - 35px);
        padding: 73px 50px 50px;
    }

    .reviews__title {
        font-size: 43px;
        margin-bottom: 45px;
    }

    .reviews__item p {
        font-size: 17px;
        margin-bottom: 60px;
    }

    .reviews__toggles {
        position: absolute;
        right: 50px;
        bottom: 45px;
    }

    .reviews__write {
        position: absolute;
        right: 50px;
        top: 80px;
    }
}

@media (min-width: $desktop-width) {
    .reviews {
        width: $desktop-width;
        margin: 0 auto;
        padding-left: 50px;
        padding-bottom: 90px;
    }

    .reviews__wrapper {
        padding: 60px 130px 65px 175px;
    }

    .reviews__title {
        font-size: 53px;
        margin-bottom: 40px;
    }

    .reviews__item p {
        margin-bottom: 40px;
    }

    .reviews__toggles {
        bottom: 60px;
    }
}
