.site-list {
    padding: 0;
    margin: 0;
}

.site-list__item {
    list-style-type: none;
    padding: 0 30px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    display: flex;
    height: 78px;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: -1px;
    }

    a {
        font-family: $fontBold;
        font-size: 17px;
        line-height: 20px;
        color: #000000;
        text-decoration: none;
    }

    &::before {
        content: "";
        margin-right: 26px;

        @include setSize(18px, 21px);
    }
}

.site-list__item--logo,
.site-list__item--free-del {
    display: none;
}

.site-list__item--free-del {
    color: #444444;
    font-size: 15px;
}

.site-list__item--search::before {
    content: url("/img/icon-search.svg");
}

.site-list__item--cart::before {
    content: url("/img/icon-cart.svg");
}

@media (min-width: $tablet-width) {
    .site-list {
        display: flex;
        flex-wrap: wrap;
    }

    .site-list__item {
        padding: 0;
        justify-content: center;
        border: none;
        height: 55px;
        margin-right: 37px;

        &:not(.site-list__item--cart) a {
            font-size: 15px;
        }

        &:not(:last-child) {
            margin-bottom: 0;
        }

        &:not(.site-list__item--cart):not(.site-list__item--search)::before {
            display: none;
        }
    }

    .site-list__item--search,
    .site-list__item--cart {
        order: -1;
        height: 90px;
        margin-right: 0;
    }

    .site-list__item--cart {
        padding-left: 30px;

        &::before {
            margin-right: 35px;
        }
    }

    .site-list__item--search {
        margin-left: auto;
        width: 83px;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;

        a {
            display: none;
        }

        &::before {
            margin-right: 0;
        }
    }

    .site-list__item--logo {
        display: flex;
        order: -2;
        margin-right: 90px;
        height: 90px;
    }

    .site-list__item--free-del {
        display: flex;
        margin-left: auto;
        margin-right: 0;
    }
}
