.site-list {
    @include resetList;
}

.site-list__item {
    display: flex;
    height: 78px;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;

    &--logo {
        justify-content: center;
        align-items: center;
    }

    &--free-del,
    &--new,
    &--sale {
        display: none;
    }
}

.site-list__link {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 30px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;

    &--logo {
        flex-grow: 0;
        padding: 0;
    }
}

@media (min-width: $tablet-width) {
    .site-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0 $large-offset;
    }

    .site-list__item {
        border: none;
        height: 85px;

        &--search,
        &--cart {
            order: -1;
        }

        &--logo {
            order: -2;
            width: calc(100% - 350px);
            justify-content: flex-start;
            border: 1px solid black;
            box-sizing: border-box;
        }

        &--search {
            margin-left: auto;
            width: 83px;
            border: 1px solid black;
            box-sizing: border-box;

            .site-list__link {
                font-size: 0;
            }
        }

        &--catalog,
        &--free-del,
        &--order {
            height: 60px;

            .site-list__link {
                font-size: 15px;
                border: 1px solid black;
                box-sizing: border-box;
            }
        }

        &--free-del {
            display: flex;
            margin-left: auto;
        }

        &--catalog {
            margin-right: 30px;
        }
    }

    .site-list__link {
        padding: 0;
    }

    //Временно
    .site-list__item--cart {
        width: 265px;
        border: 1px solid black;
        box-sizing: border-box;
    } //
}

@media (min-width: $desktop-width) {
    .site-list {
        padding: 0;
    }

    .site-list__item {
        height: 90px;

        &--order,
        &--catalog {
            order: -3;
            margin-right: 68px;

            .site-list__link {
                font-size: 17px;
            }
        }

        &--new,
        &--sale {
            display: flex;
            margin-right: 60px;
            height: 60px;

            .site-list__link {
                font-size: 15px;
                border: 1px solid black;
                box-sizing: border-box;
            }
        }

        &--logo {
            width: auto;
            margin: 0 auto;
        }

        &--free-del {
            height: 60px;
        }
    }
}
