.slider__toggles {
    margin-bottom: 38px;
}

.slider__toggle {
    font-size: 0;
    background-color: #ffffff;
    outline: none;
    width: calc(50% - 4px);
    padding: 13px 38px;
    border: 1px solid #ececec;
    cursor: pointer;
}

.slider__toggle--next::before,
.slider__toggle--prev::before {
    display: block;

    @include setSize(50px, 26px);

    margin: auto;
}

.slider__toggle--next::before {
    content: url("/img/icon-right-arrow.svg");
}

.slider__toggle--prev::before {
    content: url("/img/icon-left-arrow.svg");
}
