.social {
    display: inline-block;
}

.social__link {
    font-size: 0;
    display: inline-block;
}

.social__link--instagram::before {
    content: url("/img/icon-insta.svg");
    display: inline-block;
    widows: 22px;
    height: 21px;
}

.social__link--facebook::before {
    content: url("/img/icon-fb.svg");
    display: inline-block;
    widows: 15px;
    height: 28px;
}

.social__link--twitter::before {
    content: url("/img/icon-twitter.svg");
    display: inline-block;
    widows: 23px;
    height: 20px;
}
