.table {
    color: #444444;
    font-size: 15px;
    margin-bottom: 30px;
    width: 100%;
}

.table__field,
.table__value {
    border-bottom: 1px solid #ececec;
    padding: 7px;
}

.table__field {
    padding-left: 0;
}

.table__value {
    padding-right: 0;
}
