.table {
    width: 100%;
    font-size: 15px;
    color: #444444;
    margin-bottom: 30px;

    .table__field {
        padding-left: 0;
    }

    .table__value {
        padding-right: 0;
    }
}

.table__field,
.table__value {
    padding: 7px;
    border-bottom: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
    .table__field,
    .table__value {
        padding: 9px;
    }
}
