@import "mixins";
@import "variables";
@import "page-header";
@import "main-nav";
@import "site-list";
@import "page-main";
@import "catalog-nav";
@import "featured-item";
@import "table";
@import "button";
@import "advantages";
@import "reviews";
@import "slider";
@import "contacts";
@import "map";
@import "page-footer";
@import "socials";
@import "social";
@import "copyright";
@import "modal";
@import "size";
@import "page-catalog";
@import "page-title";
@import "catalog";
@import "item";
@import "promo";
@import "page-form";
@import "order-form";
@import "fieldset";
@import "radio";
@import "checkbox";
@import "control";

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/opensans.woff") format("woff"), url("/fonts/opensans.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("/fonts/opensansbold.woff") format("woff"), url("/fonts/opensansbold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: $fontNormal;
    margin: 0 auto;
    min-width: 320px;
}

.visually-hidden {
    position: absolute;

    @include setSize(1px, 1px);

    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
